{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

Thanks for taking part in the study. Now that you've been added to the system you need to choose a password. You can do this by following the link below:
{% block reset_link %}
<{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}>
{% endblock %}

Once you've chosen a password, your username to login to the system will be: {{ user.username }}

If you have any problems please contact the study team.

{% endautoescape %}
