{% load compress %}
{% load signalbox_tags %}
{% load sekizai_tags %}
{% load markup %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    
    <title>{% block title %}Signalbox: Online Research{% endblock title %}</title>
    
    {% compress css %}
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen,print">
        <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.ui.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-timepicker-addon.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{STATIC_URL}}css/signalbox.css" type="text/css" media="screen,print">
    {% endcompress %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom.css" type="text/css" media="screen,print">

    {% render_block "css" %}
    
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>

          {% block body %}
            {% block nav %}
            <div class="container">

            <div class="nav navbar  navbar-fixed-top">
              <div class="navbar-inner">
                  <div class="container-fluid">
                {% block brand %}
                <div class="brand">
                    <a href="/">{{BRAND_NAME}}</a>
                </div>
                {% endblock %}

                    {% if not hidemenu %}
                      <ul class="nav">
                            {#  {% show_menu 0 2  2 2  "menu.html" %} #}
                      </ul>
                    {% endif %}

                    {% block signin %}
                          {% include 'signin_or_show_user.html' %}
                    {% endblock %}
                  </div>
                </div>
              </div>
            </div>
            </div>
            {% endblock %}

            <div class="container">

              <div class="row">
                <div class="span6">
                    {% block submenu %}

                    {% endblock submenu %}
                </div>
              </div>

              {% block progress %}
              {% endblock %}

            {% load signalbox_tags.messages %}
            {% render_messages messages %}

            {% for i in sorted_messages.items %}
            <div class="alert alert-{{i.0}}">
                {% for j in i.1 %}
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>{{j}}</p>
                {% endfor %}
            </div>

            {% endfor %}


        {% block base_content %}
        {% endblock %}
        <hr>
        {% block footer %}
        {% endblock %}
    </div>
    {% endblock %}
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}


    {% compress js %}
    <script type="text/javascript">
    (function() {
      $(document).ready(function() {
        $(".datepicker").datepicker({
          dateFormat: "dd/mm/yy"
        });
        $(".datetimepicker").datetimepicker({
          dateFormat: 'dd/mm/yy'
        });
        return $(".timepicker").timepicker({});
      });

    }).call(this);
    </script>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{GOOGLE_TRACKING_ID}}', 'auto');
          ga('send', 'pageview');
    </script>

      {% endcompress %}


    </body>
  </html>

{% addtoblock "js" %}
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/mousetrap.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  <script language="JavaScript" src="{{STATIC_URL}}js/swfobject.js"></script>
  <script language="JavaScript" src="{{ STATIC_URL }}js/tab_anchor_setter.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}audiojs/audio.min.js"></script>
{% endaddtoblock %}

