{% if not request.user.is_authenticated %}
    <form class="navbar-form pull-right"
        method="post"
        action="{% url "django.contrib.auth.views.login"  %}"
    >
      {{ request.login_form.username }}
      {{ request.login_form.password }}
      {% csrf_token %}<input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn">Sign in</button>
    </form>
{% else %}
    <p class="navbar-text pull-right">

      {% if not hideprofilebutton%}
          <a class="btn btn-mini btn-primary"  href="{% url "user_homepage" %}">{{request.user.username|title}}'s Tasks</a>
      {% endif %}

      {% if request.user.is_staff %}
      {% if not hideprofilebutton%}
      <p class="navbar-text pull-right">
        <a class="btn btn-mini" href="/admin/"> Admin site</a>
      </p>
      {% endif %}
      {% endif %}


    </p>
{% endif %}
