{% extends "admin/change_form.html" %}

{% block coltype %}colMS{% endblock %}}

{% block sidebar %}

<div class="span3">

    {% if original.question_set.all %}
    <div class="module" id="tools-module">
    <h4>In use by these questions</h4>

    <p class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button> Watch out - changing response options here will change data collected wherever these questions are used.</p>
    <ul>
    {% for i in original.question_set.all %}
     <li><a href="{{i.admin_edit_url}}">{{i}}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

</div>

{% endblock %}
