{% extends "signalbox:admin/change_form.html" %}
{% load humanize%}


{% if original %}
{% block title %}
Study Dashboard: {{original.name}}
{% endblock %}

{% block content_title %}
<a class="brand">Change Study: <strong>{{original.name}}</strong>
{% endblock %}

{% endif %}



{% block content %}

<ul class="nav nav-tabs" id="usertabs">
    {% if original %}
    <li class="active">
        <a href="#tabsummary" data-toggle="tab">Dashboard</a>
    </li>
    {% endif %}
    <li class="{%if not original %}active{%endif %}">
        <a href="#tabmain" data-toggle="tab">Edit</a>
    </li>
</ul>

<div class="tab-content">
    {% if original %}
        <div class="tab-pane active" id="tabsummary">
            <div class=row>
                <div class="span8">

                    <h4>Study participants</h4>

                    {% if not original.membership_set.all %}
                    No participants yet.
                    {% else %}

                    {% if original.membership_set.count > 4 %}
                    <p>Current imbalance in membership allocations is:
                    {%if original.chisq_imbalance.1 < .05 %}significant{% else %}non-significant{% endif%} (chisq={{original.chisq_imbalance.0|floatformat}}, p={{original.chisq_imbalance.1|floatformat}})
                    </p>
                    {% endif %}

                    <table class="table">
                        <tr>
                            <th>Condition</th><th>N</th><td>Expected</td>
                        </tr>
                    {% for i in original.studycondition_set.all %}
                        <tr>
                            <td>{{i.tag}}</td><td>{{i.users.count}}</td><td>{{i.expected_n|floatformat}}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <th>Total</th>
                            <th>
                                {{original.membership_set.count}}</th><td>
                            </th>
                        </tr>
                        <tr>
                            <td colspan=3>
                                <p><a class="btn btn-primary btn-small" href="{% url 'admin:signalbox_membership_changelist' %}?study__id__exact={{original.id}}">Show participants</a>
                                <a class="btn btn-small" href="{% url 'admin:signalbox_observation_changelist' %}?dyad__study__id__exact={{object_id}}" class="historylink">Review Observations</a>
                                {% if original.observations_with_duplicate_replies %}
                                    <a class="btn btn-small" href="{% url 'resolve_double_entry_conflicts_for_study' original.id %}">Manage duplicate data</a>
                                {% else %}

                                    <a class="btn btn-small disabled"  title="Good news: no duplicated replies made as part of this study yet." href="#">Manage duplicate data</a>
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                    {% endif %}



                    <h4>Allocation</h4>

                    {% for i in original.studycondition_set.all %}
                    
                        {% for j in i.scripts.all %}
                        <div class="well span3">
                                <h4>Condition: '{{i.tag}}'</h4>
                               Script: <a href="{% url 'admin:signalbox_script_change' j.id %}">{{j.name}}</a>
                                    {% if j.asker %}uses <a href="{% url 'admin:ask_asker_change' j.asker.id %}">{{j.asker}}</a>
                                    at the following times:{% else %}makes observations at the following times:{% endif %}
                        <code>{% for k in j.datetimes_with_natural_syntax %}{{k.syntax}}<br>{% endfor %}</code>
                        </div>
                        {% endfor %}
                    {% endfor %}




                    <h4 class="span8">Extra data collection</h4>
                    <div class="well span8">
                        <p>Questionnaires available to participants for ad-hoc use:</p>

                
                        {% if original.ad_hoc_askers.all %}
                        <ul>
                        {% for i in original.ad_hoc_askers.all %}
                        <li>
                        {{i}}
                        
                                    <a class="btn btn-small" href="{% url 'admin:ask_asker_change' i.id %}">Edit</a>
                            </li>
                        {%endfor%}
                        </ul>
                        {% endif %}

                        {% if original.createifs.all %}
                        <tr>
                            <th>
                                Scripts for responsive-mode data collection
                            </th>
                            <th>
                            </th>
                        </tr>
                        {% for i in original.createifs.all %}
                               <tr>
                                   <td>
                                       {{i.script}}
                                   </td>
                                   <td>
                                       <a class="btn btn-mini" href="{% url 'admin:signalbox_script_change' i.script.id %}">Edit script</a>
                                       {% if i.script.asker %}<a class="btn btn-mini" href="{% url 'admin:ask_asker_change' i.script.asker.id %}">Edit questionnaire</a>
                                       {% endif %}
                                   </td>
                               </tr>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="span4">
                    <h4>Study settings</h4>
                    <table>
                        <tr><td>slug: <code>{{original.slug}}</code></td></tr>
                        <tr><td>study_email: <code>{{original.study_email}}</code></td></tr>
                        <tr><td>twilio_number: <code>{{original.twilio_number}}</code></td></tr>
                        <tr><td>visible: <code>{{original.visible}}</code></td></tr>
                        <tr><td>paused: <code>{{original.paused}}</code></td></tr>
                        <tr><td>auto_randomise: <code>{{original.auto_randomise}}</code></td></tr>
                        <tr><td>auto_add_observations: <code>{{original.auto_add_observations}}</code></td></tr>
                        <tr><td>auto_randomise: <code>{{original.auto_randomise}}</code></td></tr>
                    </table>
                </div>
            </div>



        </div>
    {% endif %}

    <div class="tab-pane {%if not original %}active{%endif %}" id="tabmain">
        {{block.super}}
    </div>



    </div>

</div>

{% endblock %}




