{% extends "admin/base_site.html" %}
{% load markup %}

{% block content_title %}<a class="navbar-brand">Choose data to Export</a>{% endblock %}


{% block content %}
<div class="row">
    <div class="span8">
        <form class="form" action="." method="POST" accept-charset="utf-8">

            <p>{% csrf_token %}</p>
            <table class="table">

            {{form.as_table}}

            <tr>
              <td></td><td><input class="btn btn-danger" type="submit" name="some_name" value="Download" id="some_name"></td>
            </tr>
            </table>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="span4">
        <h4>Information on data exporting</h4>

        <ul>
        <li> Data can be exported from multiple studies at once (e.g. sub-studies within a trial). </li>

        <li> Remember to <a href="{% url 'resolve_double_entry_conflicts' %}">resolve duplicate replies for your studies</a> before exporting if possible (get to this from the study edit page).</li>
        <li> Also remember that duplicate replies <strong>will be</strong> exported, but marked <code>True</code> in the <code>is_canonical_reply</code> column if you have resolved these duplicate replies.</li>

        </ul>
    </div>
</div>

{% endblock %}
