{% load signalbox_tags %}
{% memberships participant as participant_memberships %}

<h4>Study memberships</h4>
<table class="table">
    {% if participant_memberships %}
    <tr>
        <th>Study</th>
        <th>Allocated</th>
        <th>Responses due</th>
        </tr>
        {% for m in participant_memberships %}
        <tr>
                <td><a class="" href="{% url 'admin:signalbox_membership_change' m.id %}">{{m.study.name}}
                    {% if m.relates_to %}(relates to {{m.relates_to.user.username}}){% endif %}</a>
                </td>
                <td><img src="{{STATIC_URL}}admin/img/icon-{% if m.randomised %}yes{%else%}no{%endif%}.gif"></td>

                </td>


                <td>
                    <a class="" href="{% url 'membership_observations_todo' m.id %}">{{m.incomplete_observations.count}} observations incomplete</a>
                </td>

        </tr>
        {% endfor %}
    {% else %}
        <tr><td>Not participating in any studies</td></tr>
    {% endif %}
        <tr>
                <td colspan=6>
                    <a class="btn btn-primary" href="{% url 'create_membership' user_id=participant.id %}"> Add to a study</a>
                </td>
        </tr>
</table>
