{% extends "signalbox:admin/change_form.html" %}

{% block submit_buttons_top %}
    {{block.super}}
    &nbsp;
    <a class="
    btn btn-warning {% if not request.user.is_superuser %}disabled{%endif%}"
    href={% if request.user.is_superuser %}"{% url 'reassign_reply_to_observation' original.id %}"{%else%}"javascript:window.alert('You do not habve permission to reassign observations.');"{% endif %}>
    Reassign to a different observation</a>
{%endblock%}




{% block content %}
<ul class="breadcrumb">

    <li>
        <a class='' href='{% url "participant_overview" original.observation.dyad.user.id %}'>{{original.observation.dyad.user.username}}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a class="" href={% url "admin:signalbox_membership_change" original.observation.dyad.id %}>
            {{original.observation.dyad.study}}
        </a>
        <span class="divider">/</span>
    </li>

    <li><a class="" href={% url "admin:signalbox_observation_change" original.observation.id %}>
                {{original.observation.label}} ({{original.observation.n_in_sequence}})
            </a>
        <span class="divider">/</span>
    </li>
    <li>
        {% if original.observation.reply_set.count == 1%}
         Reply #{{original.id}}
        {% else %}
        1 of {{original.observation.reply_set.count}} replies.
        {% endif %}
    </li>
</ul>


<ul class="nav nav-tabs" id="usertabs">
    <li class="active">
        <a href="#tabmain" data-toggle="tab">Edit</a>
    </li>
    {% if original %}
    <li class="">
        <a href="#tabanswers" data-toggle="tab">User responses</a>
    </li>
    {% endif %}
</ul>



<div class="tab-content">
        <div class="tab-pane active" id="tabmain">
            <div class=row>
                <div class="span12">
                    {{block.super}}
                </div>
            </div>
        </div>

        <div class="tab-pane active" id="tabanswers">
            <div class=row>
                <div class="span12">
                    XXX

                </div>
            </div>
        </div>
</div>

{% endblock %}
