{% extends "signalbox:admin/change_form.html" %}

{% block object-tools-items %}
<a class="btn-mini" href="{% url 'bulk_add_questions' %}"><i class="icon-plus"></i> Add multiple questions</a>


{{block.super}}


{% endblock %}


{% block sidebar %}

<div class="span3">
{% if original %}

<h4>Usage:</h4>
{% if original.used_in_askers %}
<p>This instrument is used in the following surveys:</p>
{% for i in original.used_in_askers %}
<ul>
    <li><a href="{% url 'admin:ask_asker_change'  i.page.asker.id %}">{{i.page.asker }}</a>
       (<a href="{% url 'admin:ask_askpage_change'  i.page.id %}">page {{i.page.page_number }}</a>)
    </li>

</ul>
{% endfor %}

{% else %}

<p>Not used anywhere yet.</p>

{% endif %}
{% endif %}
</div>
{% endblock %}
