<div class="row">
<div class="" style="min-width:50%; max-width:90%;">
<table class="radiotable">
    <tr>
    {% for group_name, choices in optgroups %}{% for choice in choices %}
        <td width="{% widthratio 1 choices|length 100 %}%">
            <input type="radio" id="{{ attrs.id }}_{{ forloop.counter }}" value="{{ choice.0 }}" name="{{ name }}"{% if required %} required{% endif %}{% if choice.0 in value %} checked{% endif %}>
        </td>
    {% endfor %}{% endfor %}
</tr>
<tr>
    {% for group_name, choices in optgroups %}{% for choice in choices %}
        <td>
            <label class="radio inline" for="{{ attrs.id }}_{{ forloop.counter }}">
            {% if attrs.classes.rotate %}
            <div class="rotate">
                <div style="position:absolute-within-parent; width:300%;">{{ choice.1 }}
                </div>
            </div>
            {% else %}
                {{ choice.1 }}
            {% endif %}


        </label>
        </td>
    {% endfor %}{% endfor %}
</tr>

</table>
</div>
</div>
