{% extends "base.html" %}
{% load markup %}
{% load floppyforms %}

{% block body %}
<style>
#id_markdown {width:90%;}


</style>

<div class="container">
    <div class="row">
        <div class="span12">
            <hr/>
&nbsp;

        <div class="pull-right">
            <a class='btn btn-mini' href='{% url "admin:ask_asker_change" asker.id %}'>Edit details</a>
            <a class='btn btn-mini btn-primary' href='{{asker.get_absolute_url}}'>Preview</a>
            </div>
            <hr>
        </div>
    </div>

<div class="row">
<div class="span6">

<form action="." method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <h3>Markdown</h3>
    {{form.markdown}}
    <p><input class="btn btn-primary" type="Submit" value="Save changes"></p>
    </form>
</div>
<div class="span6">
    <h3>Questionnaire codebook</h3>
{% for i in asker.askpage_set.all %}

{% if not forloop.first %}
<div class="control-group">&nbsp;</div>
<p class="muted pull-right">page {{i.page_number}}</p><hr>
<div class="control-group">&nbsp;</div>
{% endif %}

    {% for j in i.get_questions %}
    <div class="well">

            <code>{{j.variable_name}}</code>
            <span class="muted pull-right">{{j.q_type}}, required: {{j.required}}{% if j.showif %}; show if <code>{{j.showif.as_markdown}}</code><br>{% endif %}</span>

            <hr>
            {{j.text|markdown}}
            {% if j.choices.count > 0 %}
                <a class="btn btn-mini pull-right" href="{% url "admin:ask_choiceset_change" j.choiceset.id %}">Edit choices</a>
                <pre style="font-size:9px;">{{j.choices_as_json}}</pre>
            {% endif %}

            {% if j.score_mapping %}
                Scores on this question will be remapped as follows when computing summaries: <pre>{{j.score_mapping}}</pre>
            {% endif %}

        </div>


        {% endfor %}
{% endfor %}
</div>

</div>
</div>
{% endblock %}
