{% extends "admin/change_form.html" %}
{% load compress %}
{% load signalbox_tags %}
{% load markup %}
{% load humanize %}
{% load floppyforms %}



{% block content_title %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="navbar-brand">{{asker.name}}</a>
        </div>
    </div>
</div>

{% endblock %}


{% block breadcrumbs %}
{% endblock %}

{% block content %}
   <div class="container">
    <form id="syntax_form" action="." method="POST" accept-charset="utf-8">

<div class="row">
    <div class="col-md-12">
    
    <a class='btn btn-mini' href='{% url 'print_asker' asker.id %}'>Print</a>
    <a class='btn btn-mini' href='{% url 'show_codebook' asker.id %}'>Codebook</a>
    {% if user.is_superuser %}
        <a class='btn btn-mini' href='{% url 'export_asker' asker.id %}'>Export JSON</a>
    {% endif %}
    
    {% anonymous_asker_url asker as anonurl %}
    <a id="copy-button" href="#" data-clipboard-text="{{anonurl}}" class='btn btn-mini'>Copy anonymous URL</a>

    <a class='btn btn-mini btn-success' style="margin-left:.5em;" href='{% url "admin:ask_asker_change" asker.id %}'>Edit details  (&#8984;E)</a>
    

    <a class='btn btn-mini btn-primary' href='{{asker.get_absolute_url}}'>Preview</a>


    <input type="submit" class="btn btn-danger pull-right" style="margin-left:.5em;" value="Save changes  (&#8984;S)"/>

    <br><br>
    </div>
</div>

<style>
    #id_text {width:98%; font-family:"inconsolata", "menlo", monospace;}
    .scores { font-family:"inconsolata", "menlo", monospace; white-space: pre;}
</style>


{% compress js %}
        <script type="text/javascript">
                $(document).ready(function() {
                var $abc = $("#id_yaml");
                $abc.css("height", $abc.attr("scrollHeight"));
            })

            Mousetrap.bind(['ctrl+return', 'command+return', 'ctrl+s', 'command+s'], function(e) {
                $('#syntax_form').submit();
            });

            Mousetrap.bind(['ctrl+e', 'command+e'], function(e) {
                location = '{% url "admin:ask_asker_change" asker.id %}';
            });

            Mousetrap.bind(['ctrl+k', 'command+k'], function(e) {
                location = '{{asker.get_absolute_url}}';
            });


            {% include "js/asker_edit.js" %}
        </script>
    {% endcompress %}



{%if form %}
  <div class="row">
      {% csrf_token %}

    <div class="col-md-7">
        {% if form.errors %}
            {% for e in form.non_field_errors %}
                <div class="alert warning">{{e}}</div>
            {% endfor %}
        {% endif %}
        {% if not form.locked %}{{form.text}}
        {% else %}
        <div class="alert">Locked for editing because Replies have already been made <a class="btn" href="{% url "admin:signalbox_reply_changelist" %}?asker={{asker.id}}">Delete previous replies</a>
        </div>
        <p><pre>{{form.fields.text.initial|markdown}}</pre>
        {% endif %}
    </div>



    <div class="col-md-5">
    {% for i in asker.askpage_set.all %}

        <div class="control-group">
        <h4>{{i.step_name}}</h4>
        </div>

        {% for j in i.get_questions %}
            <div >
                <code><a href="{% url "admin:ask_question_change" j.id %}">#{{j.variable_name}}</a>{% if j.required %}*{% endif %}</code> {% if j.extra_attrs.if %}if {{j.extra_attrs.if}}{% endif %} <span class="muted pull-right">({{j.q_type}})</span>
            <p>{{j.text}}</p>
            <div class="scores">
            {% if j.choiceset %}{{j.choiceset.choices_as_string}}{% endif %}
            {% if j.scoresheet %}
            {{j.scoresheet.as_markdown}}{% endif %}
            </div>

            </div>
            <hr>
        {% endfor %}
    {% endfor %}
    </div>
</div>
</form>

{% else %}

<div class="container">

<div class="alert alert-warning">
<h3>Cannot edit questionnaire because {{asker.reply_set.all|length}} responses have already been saved.
</h3>
<p>
<a href="{% url "admin:signalbox_reply_changelist" %}?asker__id__exact={{asker.id}}&q=" class="btn btn-primary">View responses</a>
</div>
</div>

{% endif %}

</div>
{% endblock %}
