{% extends "base.html" %}
{% load markup %}
{% load floppyforms %}

{% block body %}
<style>
#id_yaml {width:98%; font-family:"inconsolata", "menlo", monospace;}


</style>
<script>
$(document).ready(function() {
    var $abc = $("#id_yaml");
    $abc.css("height", $abc.attr("scrollHeight"));
})
</script>

<form action="." method="POST" accept-charset="utf-8">
<div class="container">


    <div class="row">

       <div class="span12">
        <hr>
            <a class='btn btn-mini pull-right' href='{% url "admin:ask_asker_change" asker.id %}'>Edit details</a>
            <a class='btn btn-mini btn-primary pull-right' href='{% url "preview_asker" asker.id 0 %}'>Preview</a>

            <p><input class="btn btn-primary" type="Submit" value="Save changes"></p>

        <hr>
        </div>
    </div>


<div class="row">

        {% csrf_token %}

<div class="span5">


    <h4>Text input </h4>
    {% if form.errors %}
        {% for e in form.non_field_errors %}
            <div class="alert warning">{{e}}</div>
        {% endfor %}
    {% endif %}
    {{form.yaml}}

</div>

</form>
<div class="span7">
    <h4>Questionnaire preview</h4>
{% for i in asker.askpage_set.all %}

<div class="control-group alert">{{i.step_name}}</div>

{% for j in i.get_questions %}
<div class="well">
    <form>
        {{j.preview_html.as_p}}

    </form>
    <hr/>
</div>
{% endfor %}
{% endfor %}
</div>

</div>





</div>



{% endblock %}
