    {% extends "admin/base_site.html" %}
    {% block title %}SignalBox Dashboard{% endblock %}

    {% block extra_style %}
    .green { color:green;}
    {% endblock %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/admin">Home</a> > <a href="/admin/signalbox">Signalbox</a> >
    <a href="{% url 'resolve_double_entry_conflicts' %}">Resolve Duplicate Observations</a> >
    <a href="/admin/signalbox/study/{{study.id}}">{{study.name}}</a>
    </div>
    {% endblock %}

    {% block content_title %}
    <a class="brand">Observations with duplicate data</a>{% endblock %}



    {% block content %}
    <table class="table">
        <tr>
            <th>Observation</th><th>User</th><th>Reply selected</th><th>Actions</th>
        </tr>
    {% for i in with_dupes %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.dyad.user}}</td>
        <td><img src="{{STATIC_URL}}icons/icon-{% if i.has_manually_selected_canonical_reply %}yes{%else%}no{%endif%}.gif">
        </td>
        <td><a class="btn" href="{% url 'admin:signalbox_observation_change' i.id %}">Edit Observation</a> <a class="btn btn-primary" href="{% url 'resolve_double_entry_conflicts_for_observation' i.id %}">Select a Reply</a></td>
    </tr>
    {% endfor %}
</table>
    {% endblock %}
