{% extends "two.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block left %}


<h1>{% trans "Reset your password" %}</h1>

<p>
    If you have forgotten your password, or are requesting one for the first time, just enter your e-mail address below, and we'll send instructions for setting it up.
</p>

<form action="." method="post">{% csrf_token %}

    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>

<input class="btn btn-primary"  type="submit" value="{% trans 'Reset my password' %}" /></p>

</form>



{% endblock %}
