{% extends "base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block base_content %}


<div class="span12">
{% if validlink %}

<h1>Choose a password</h1>

<p>Please enter your new password twice so we can verify you typed it in correctly. Try to avoid single words or common phrases, even if you replace a letter with a number or punctuation mark.</p>
<p>A good password is at least 10 characters long — for example 4 randomly chosen words stuck together.</p>

<form class="form" action="." method="post">{% csrf_token %}
{{form.as_p}}
<p>
    <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

</div>
{% endblock %}
