<questionnaire
  slug="dose"
  classes="x y"
>

<scoresheet name="blah">
  sum( a b c )
</scoresheet>

<page title="The Dose Index">
  <question variable_name="variable_name" required="true" >
  Hello in markdown
  </question>

  <question variable_name="variable_name2" q_type="likert" required="true" choiceset="xxx">
  Blah
  </question>

  <choiceset name="xxx" default="1">
  1: blah
  2: blah
  3: boo
  </choiceset>

</page>

<page title="Results">
  <question variable_name="variable_name" classes="instruction required" choiceset="xxx">
    Hello in markdown
  </question>

  <choiceset name="xxx" default="1">
  1: blah
  2: blah
  3: boo
  </choiceset>

</page>


</questionnaire>

